:root {
    --font-sans-serif: Montserrat, sans-serif;
    --font-serif: Lora, serif;
    --black: #000;
    --white: #eaeaea;
    --blue: #252258;
    --ltblue: #c3bde7;
    --purple: #a4248a;
    --pink: #d8168c;
    --green: #10703a;
    --ltgreen: #78bc46;
    --orange: #f29423;
    --yellow: #f9cc3d;

}

html {
    box-sizing: border-box;
    font-family: var(--font-serif);
    color: var(--black);
    background-color: var(--white);
}

h1, h2, h3 {
    font-family: var(--font-sans-serif);
    color: var(--blue);
}

a {
    text-decoration: none;
}

/* Top Nav */

li {
    list-style: none;
}

.nav-wrap {
    background-color: var(--blue);
    margin: none;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    margin: 0rem 1.5rem;
}

.topnav img {
    max-height: 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items {
    margin-left: 1.5rem;

}

.nav-links {
    font-family: var(--font-sans-serif);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

.nav-links:hover {
    color: var(--purple);
}


/* Hero */

.hero-wrap {
    overflow: hidden;
    position: relative;
    background-color: var(--ltblue);
    max-height: 475px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.hero-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.hero-content {
    position: relative;
}

.hero-content h1 {
    font-size: 3rem;
    text-align: center;
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--blue);
    text-align: center;
    margin: 0rem 2rem;
}

/* Problem Statement */

.prob-wrap {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3rem 2rem;
}

.prob-wrap img {
    height: auto;
    max-height: 300px;
}

.prob-text {
    margin: 3rem;
    font-size: 1.25rem;
    max-width: 700px;
}

.prob-text h2 {
    font-size: 2.5rem;
}

/* Research */

.research-wrap {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3rem 3rem;
    background-color: var(--ltblue);
}

.research-content img{
    max-width: 300px;
}

/* Deliverables */

.deliverables-wrap {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3rem 3rem;
}

.deliverables-wrap h2 {
    font-size: 2.5rem;
}

.deliverables-text {
    max-width: 500px;
    padding-top: 5rem;
}
.deliverables-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
}

.deliverables-content img {
    max-width: 300px;
    margin: 1rem 0rem;
}

/* Summary */

.summary-header {
    overflow: hidden;
    position: relative;
    background-color: var(--ltblue);
    min-height: 200px;
    max-height: 200px;
}

.summary-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: auto;
}

.summary-content {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.summary-content h2 {
    font-size: 2.5rem;
    text-align: center;
}

.summary-content p {
    padding: 0rem 10rem;
}

/* Footer */

.footer-wrap {
    background-color: var(--blue);
    padding: 1rem 4rem;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links {
    color: var(--white);
    font-family: var(--font-sans-serif);
    font-weight: 500;
}