:root {
    --font-sans-serif: "fieldwork-hum", sans-serif;
    --font-serif: "freight-display-pro", serif;
    --font-nav: "ff-good-web-pro-condensed", sans-serif;
    --black: #000;
    --white: #eaeaea;
    --blue: #252258;
    --ltblue: #c3bde7;
    --purple: #a4248a;
    --pink: #d8168c;
    --green: #10703a;
    --ltgreen: #78bc46;
    --orange: #f29423;
    --yellow: #f9cc3d;

}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-serif);
    color: var(--black);
    background-color: var(--white);
}

h1, h2, h3 {
    font-family: var(--font-sans-serif);
    color: var(--blue);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section-header {
    overflow: hidden;
    position: relative;
    background-color: var(--ltblue);
    min-height: 25px;
}

.section-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: auto;
}


/* Top Nav */

header {
    position: relative;
    padding: 0 2rem;
    background-color: var(--blue);
    z-index: 9999;

}

.nav-wrap {
    background-color: var(--blue);
}

.topnav {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav img {
    max-height: 40px;
}

.topnav .toggle_btn {
    color: var(--white);
    font-size: 1.25rem;
    cursor: pointer;
    display: none;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links {
    font-family: var(--font-nav);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

.nav-links:hover {
    color: var(--purple);
}

/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: var(--blue);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open {
    height: 200px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {

    header {
        width: 100%;
        position: fixed;
        top: 0;
    }

    .topnav .nav-menu {
        display: none;
    }

    .topnav .toggle_btn {
        display: block;
        position: fixed;
        right: 0;
        padding-right: 2rem;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 0;
        width: unset;
    }

}


/* Hero */

.hero-wrap {
    overflow: hidden;
    position: relative;
    background-color: var(--ltblue);
    max-height: 475px;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.hero-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.hero-content {
    position: relative;
}

.hero-content h1 {
    font-size: 3rem;
    text-align: center;
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--blue);
    text-align: center;
    margin: 0rem 2rem;
}

@media (max-width: 992px) {
    .hero-wrap {
        margin-top: 3rem;
    }
}

@media (max-width: 576px) {
    .hero-bg {
        height: 100%;
        width: max-content;
    }
    
}

/* Problem Statement */

.prob-wrap {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3rem 2rem;
}

.prob-wrap img {
    max-height: 300px;
    width: auto;
}

.prob-text {
    margin: 3rem;
    font-size: 1.5rem;
    max-width: 700px;
}

.prob-text h2 {
    font-size: 2.5rem;
}

.solution-wrap {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem 2rem;
    background-color: var(--ltblue);
}

.solution-wrap img {
    max-height: 200px;
    width: auto;
    padding-top: 6rem;
    
}

@media (max-width: 992px) {
    .prob-wrap {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .prob-wrap img {
        height: auto;
        max-width: 40%;
        margin-bottom: 0;
        align-self: center;
    }

    .prob-text h2 {
        margin-top: 0;
    }

    .prob-text {
        margin: 0;
    }
    
}

@media (max-width: 576px) {
    .prob-wrap {
        flex-direction: column;
        column-gap: 1rem;
        align-items: center;
    }

    .prob-wrap img {
        height: auto;
        max-width: 50%;
        margin-bottom: 0;

    }

    .prob-text {
        margin: 0;
    }
    
}

/* Research */

.research-wrap {
    display: block;
    justify-content: space-evenly;
    align-content: center;
    padding: 3rem 1rem;
}

.research-logo {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.research-text {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 1.5rem;
    max-width: 1000px;
}

.research-wrap  h2 {
    font-size: 2.5rem;
}

.headshot {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.headshot img {
    max-width: 300px;
}


@media (max-width: 992px) {
    .research-wrap {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* Process */

.process-wrap {
    padding: 2rem 0rem 2rem;
    background-color: var(--ltblue);
}

.process-h2 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 2.5rem;
    max-width: 1000px;
    margin-bottom: 0;
}

.process-wrap img{
    margin: 2rem 6rem 0rem 0rem;
    max-width: 300px;
}


.process-text h2 {
    font-size: 2.5rem;
}

.process-text {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 2rem;
    width: 75%;
    font-size: 1.5rem;
    max-width: 1000px;
}

.scenes-wrap {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 0;
}

.scenes img {
    margin: 1rem 2rem 1rem;
    max-width: 300px;
}

.mockups img {
    margin: 1rem 2rem 3rem;
    max-width: 300px;

}

.video-center {
    text-align: center;
}


.quotes p {
    padding-left: 4rem;
    font-style: italic;
}

.quotes li {
    margin-bottom: 1rem;
    font-style: italic;
}

.revisions {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 2rem;
}

.revisions img {
    margin: 1rem 1rem 1rem;
    max-width: 300px;
}

/* Deliverables */

.deliverables {
    background-color: var(--ltblue);
    padding: 2rem;
    /* display: flex;
    justify-content: space-evenly;
    align-content: center;*/
}

.deliverables h2 {
    font-size: 2.5rem;
    text-align: center;
}

.deliverables p {
    font-size: 1.25rem;
    max-width: 500px;
    padding-top: 5rem;
}
.deliverables-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
}

.deliverables-content img {
    max-width: 300px;
    margin: 1rem 0rem;
}

@media (max-width: 992px) {
    .deliverables-wrap {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .deliverables-text {
        padding-top: 0rem;
    }
}

/* Summary */

.summary-header {
    overflow: hidden;
    position: relative;
    background-color: var(--ltblue);
    min-height: 50px;
    max-height: 50px;
}

.summary-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: auto;
}

.summary-content {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.summary-content h2 {
    font-size: 2.5rem;
    text-align: center;
}

.summary-content p {
    font-size: 1.5rem;
    padding: 0rem 10rem;
}

@media (max-width: 992px) {
    .summary-content {
        padding-top: none;
    }

    .summary-content p {
        padding: 0rem, 5rem;
    }
}

@media (max-width: 576px) {
    .summary-content {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 1rem;
    }

    .summary-content p {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0.5rem;
    }
}

/* Footer */

.footer-wrap {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    font-size: 2vh;
}

.footer-nav {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.footer-links {
    color: var(--white);
    font-family: var(--font-sans-serif);
    font-weight: 500;
}

.footer-links:hover {
    color: var(--purple);
}

@media (max-width: 992px) {
    .footer-wrap .nav-menu {
        display: none;
    }
}

@media (max-width: 576px) {
    .footer-wrap .nav-menu {
        display: none;
    }
}